# Permitir o acesso de qualquer origem
Header set Access-Control-Allow-Origin "*"

# Permitir métodos específicos (POST, GET, OPTIONS)
Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"

# Permitir cabeçalhos específicos
Header set Access-Control-Allow-Headers "Content-Type, Authorization, X-Requested-With"

# Se a requisição for OPTIONS, apenas enviar a resposta 200 (sem processamento)
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ - [R=200,L]
</IfModule>

